
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color:white;
  }
  
  .contest-list {
    list-style: none;
    padding: 0;
  }
  
  .contest-item {
    margin-bottom: 10px;
  }
  
  .contest-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .contest-link:hover {
    text-decoration: underline;
  }

  /* Custom CSS for the divider */
.divider {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin-bottom: 20px;
}


  
  