.form-button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-size: cover;
    margin-right: 80px;
  }

  form {
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
    width: 70%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width to prevent it from stretching too much */
  }
  
  h1{
 
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color:black;
        text-align: center;
  }


  
.rectangle{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}