* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.Page {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  justify-content: center;
  min-height: 100vh; /* Add this to ensure the grid takes at least the full viewport height */
}

.opensList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.opensCard {
  position: relative;
  background-color: var(--color-grey-primary);
  margin: 1rem;
  flex: 1 0 15rem; /* Decreased the flex-basis to make the cards smaller */
  max-width: 20rem; /* Decreased the max-width to make the cards smaller */
  max-height: 20rem; /* Decreased the max-height to make the cards smaller */
  transition: 0.2s;
}

.opensCard:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.opensImage {
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
}

.opensCard__content {
  margin: 2rem;
}

.opensName {
  font-size: 1.5rem;
}

.displayStack__1,
.displayStack__2 {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerContainer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: var(--color-grey-primary);
  padding: 1rem;
}
